.ocdi__title span {
	line-height: 30px;
}

.ocdi__ajax-loader {
	font-width: bold;
	font-size: 1.5em;
}

.ocdi__ajax-loader .spinner {
	display: inline-block;
	float: none;
	visibility: visible;
}

.ocdi__message {
	padding: 5px 10px;
	border-radius: 4px;
}

.ocdi__message--info {
	background: skyblue;
	border: 2px solid royalblue;
}

.ocdi__message--success {
	background: springgreen;
	border: 2px solid darkgreen;
}