// Overriding WordPress native styles.
#wpcontent {
	padding-left: 0;
}

.ocdi {
	max-width: none;

	h2 {
		text-align: inherit;
		font-size: 32px;
		line-height: 39px;
		font-weight: 500;
		margin-bottom: 20px;
	}

	h2:first-child,
	h3:first-child {
		margin-top: 0;
	}

	hr {
		margin: 2.62em 0;
	}

	.notice,
	.update-nag,
	#update-nag {
		display: block !important;
		margin: 0 0 30px 0;
	}

	&-notices-wrapper {
		display: none;

		.notice,
		.update-nag,
		#update-nag {
			margin: 0 0 15px 0;
		}
	}

	&__admin-notices {
		margin-bottom: 30px;
		.ocdi-notices-wrapper {
			display: block;
		}
	}
}

.feature-section + hr {
	margin-top: 0;
}

#wpbody select {
	height: auto;
	padding: .62em;
	line-height: inherit;
}

.ocdi {

	&__title-container {
		height: 30px;
		background-color: #ffffff;
		padding: 20px 30px;
		box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.07);
		display: flex;
		align-items: center;
		justify-content: space-between;

		&-title {
			margin: 0;
			font-size: 24px;
			line-height: 29px;
			font-weight: 700;
		}

		&-icon {
			width: 19px;
			height: 19px;
		}
	}

	&__content-container {
		padding: 25px 30px;
	}

	&__intro-text {
		p {
			font-size: 18px;
			line-height: 26px;
			font-weight: 300;
			color: #666666;
			margin: 0 0 24px;
		}

		ul {
			padding: 0 4%;
			list-style-type: square;
		}
	}

	&__theme-about {
		margin-bottom: 30px;
		display: flex;
		justify-content: space-between;

		&-screenshots {
			flex: 11;
			margin-right: 30px;

			.screenshot {
				border: 1px solid #CCD0D4;
				box-sizing: border-box;
				filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.07));

				&.blank {
					min-height: 500px;
					background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAALElEQVQYGWO8d+/efwYkoKioiMRjYGBC4WHhUK6A8T8QIJt8//59ZC493AAAQssKpBK4F5AAAAAASUVORK5CYII=);
				}
			}

			img {
				width: 100%;
			}
		}

		&-info {
			flex: 10;
			display: flex;
			flex-direction: column;
			justify-content: space-between;

			.theme-title {
				display: flex;
				align-items: baseline;

				.theme-name {
					margin-bottom: 16px;
				}

				.theme-version {
					margin-left: 10px;
					color: #72777C;
					font-size: 13px;
					line-height: 16px;
				}
			}

			.theme-author {
				font-size: 16px;
				line-height: 19px;
				color: #72777C;
				margin: 0 0 20px;
			}

			.theme-description {
				font-size: 16px;
				line-height: 24px;
				color: #555555;
				margin: 0 0 20px;
			}

			.theme-tags {
				font-size: 13px;
				line-height: 20px;
				color: #555555;
				margin: 4px 0 20px;
				padding-top: 24px;
				border-top: 1px solid #dddddd;

				span {
					font-weight: 700;
				}
			}

			.ocdi-import-mode-switch {
				float: right;
				font-size: 14px;
				line-height: 17px;
			}
		}

		@media (max-width: 880px) {
			& {
				flex-direction: column;

				&-screenshots {
					margin: 0 0 30px 0;
				}
			}
		}
	}

	// Plugin elements.
	&__demo-import-files {
		width: 100%;
	}

	&__demo-import-preview-image-message {
		font-style: italic;
	}

	// Plugin title.
	&__title:before {
		width: auto;
		height: auto;
		font-size: inherit;
	}

	// Plugin multi select import and Plugin file upload containers.
	&__file-upload,
	&__multi-select-import,
	&__demo-import-notice:not(:empty) {
		padding: 4%;
		margin: 1.62em 0;
		background-color: #ffffff;
		border: 1px solid #e5e5e5;
	}

	&__file-upload {
		margin: 0;
		margin-bottom: -1px;

		span {
			font-size: .81em;
			font-weight: normal;
			opacity: .66;
		}
	}

	&__demo-import-notice:not(:empty) {
		border: 0;
		border-left: 4px solid #00a0d2;
		box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
	}

	[dir="rtl"] &__demo-import-notice:not(:empty) {
		border: 0;
		border-right: 4px solid #00a0d2;
	}

	// Plugin button.
	&__button-container {
		margin-top: 1.62em;
	}

	// AJAX loader.
	&__ajax-loader {
		font-size: 1.5em;
		display: none;

		.spinner {
			display: inline-block;
			float: none;
			visibility: visible;
			margin-bottom: 6px;
		}
	}

	// New grid layout.
	&__gl {
		&-navigation li a {
			box-shadow: none;
		}

		&-item-container {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		}

		&-item {
			flex: 0 0 100%;
			margin-bottom: 20px;
			border: 1px solid #ddd;
			box-shadow: 0 1px 1px rgba(0,0,0,0.07);
			box-sizing: border-box;
			background-color: #fafafa;

			&-image-container {
				display: block;
				overflow: hidden;
				position: relative;
				-webkit-backface-visibility: hidden;
				transition: opacity 0.2s ease-in-out;

				&::after {
					content: "";
					display: block;
					padding-top: 66.66666%;
				}
			}

			&-image {
				height: auto;
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				transition: opacity 0.2s ease-in-out;

				&--no-image {
					display: inline-block;
					width: 50%;
					text-align: center;
					position: absolute;
					top: 45%;
					right: 25%;
					left: 25%;
				}
			}

			&-footer {
				margin: 0;
				padding: 8px 10px;
				border-top: 1px solid #dddddd;
				background: #ffffff;
				background: rgba(255,255,255,0.65);
			}

			&-title {
				white-space: nowrap;
				text-overflow: ellipsis;
				display: block;
				margin: 0;
				font-size: 16px;
				line-height: 19px;
				text-align: center;
				font-weight: 500;
				color: #23282d;
				padding: 5px 0 6px;

				@media (max-width: 782px) {
					& {
						padding: 12px 0 13px;
					}
				}
			}

			&-buttons {
				display: none;
				text-align: center;
			}

			&-button {

				& + & {
					margin-left: 15px;
				}
			}

			@media (max-width: 782px) {
				&-button {
					width: calc(50% - 10px);
					margin-bottom: 10px;

					& + & {
						float: left;
					}
				}
			}

			&:hover {
				.ocdi__gl-item-buttons {
					display: block;
				}

				.ocdi__gl-item-title {
					display: none;
				}

				.ocdi__gl-item-footer {
					background: #ffffff;
				}
			}
		}

		&-header {
			display: inline-block;
			width: calc(100% - 24px);
			background-color: #ffffff;
			border: 1px solid #ccd0d4;
			box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.07);
			margin-bottom: 30px;
			padding: 0 11px;
		}

		&-navigation {
			font-size: 13px;
			line-height: 16px;
			width: 100%;
			float: left;

			ul {
				list-style-type: none;
				margin: 0;
				padding: 0;
				overflow: hidden;
			}

			li {
				float: left;
				margin: 0 15px;

				&.active a,
				&.active a:hover {

					span {
						padding-bottom: 14px;
						border-bottom: 4px solid #666666;
					}
				}

				a {
					display: block;
					text-align: center;
					text-decoration: none;
					color: #23282D;
					padding: 18px 10px;

					span {
						padding-bottom: 14px;
						border-bottom: 4px solid #ffffff;
					}

					&:hover {
						color: #00a0d2;
						cursor:pointer;

						span {
							border-bottom: 4px solid #ffffff;
						}
					}
				}
			}
		}

		&-search-input {
			width: 100%;
			margin: 10px 0;
			font-size: 13px;
			line-height: 16px;
			color: #72777C !important;
		}

		@media (min-width: 640px) {
			&-navigation {
				width: calc(100% - 280px);

				li {
					margin: 0;

					a {
						padding: 18px 10px;
					}
				}
			}

			&-search-input {
				display: inline-block;
				width: 280px;
				height: 30px;
				margin: 0;
				margin-top: 11px;
			}

			&-item {
				flex: 0 0 calc(50% - 10px);
			}
		}

		@media (min-width: 1120px) {

			&-item {
				flex: 0 0 calc(33.33% - 20px);
				margin-bottom: 30px;
			}
		}
	}
}

// Grid animations.
@keyframes ocdi-fade {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}

.ocdi-is-fadeout {
	animation: ocdi-fade linear 200ms 1 forwards;
}

.ocdi-is-fadein {
	animation: ocdi-fade linear 200ms 1 reverse forwards;
}

// Grid layout modal window.
.ocdi__modal {
	&-image-container {
		width: 100%;
		height: 180px;
		margin: 0;
		overflow: hidden;

		img {
			width: 100%;
		}
	}

	&-item-title {
		margin-top: 0.5em;
		font-weight: bold;
	}

	&-notice.ocdi__demo-import-notice:not(:empty) {
		border: 1px solid #e5e5e5;
		border-left: 4px solid #00a0d2;
		margin: 1em 0 0;
	}
}

// Redux.
.ocdi__redux-option-name-label {
	margin-right: 5px;
}
