// Overriding WordPress native styles.
.ocdi {
	max-width: none;

	h2 {
		text-align: inherit;
	}

	h2:first-child,
	h3:first-child {
		margin-top: 0;
	}

	hr {
		margin: 2.62em 0;
	}

	.notice {
		display: block !important;
	}
}

.feature-section + hr {
	margin-top: 0;
}

#wpbody select {
	height: auto;
	padding: .62em;
	line-height: inherit;
}

.ocdi {

	// Plugin elements.
	&__demo-import-files {
		width: 100%;
	}

	&__demo-import-preview-image-message {
		font-style: italic;
	}

	// Plugin title.
	&__title:before {
		width: auto;
		height: auto;
		font-size: inherit;
	}

	// Plugin intro text.
	&__intro-text ul {
		padding: 0 4%;
		list-style-type: square;
	}

	// Plugin switch import mode link.
	&__import-mode-switch {
		float: right;
	}

	// Plugin multi select import and Plugin file upload containers.
	&__file-upload,
	&__multi-select-import,
	&__demo-import-notice:not(:empty) {
		padding: 4%;
		margin: 1.62em 0;
		background-color: #ffffff;
		border: 1px solid #e5e5e5;
	}

	&__file-upload {
		margin: 0;
		margin-bottom: -1px;

		span {
			font-size: .81em;
			font-weight: normal;
			opacity: .66;
		}
	}

	&__demo-import-notice:not(:empty) {
		border: 0;
		border-left: 4px solid #00a0d2;
		box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
	}

	[dir="rtl"] &__demo-import-notice:not(:empty) {
		border: 0;
		border-right: 4px solid #00a0d2;
	}

	// Plugin button.
	&__button-container {
		margin-top: 1.62em;
	}

	// AJAX loader.
	&__ajax-loader {
		font-size: 1.5em;
		display: none;

		.spinner {
			display: inline-block;
			float: none;
			visibility: visible;
			margin-bottom: 6px;
		}
	}

	// New grid layout.
	&__gl {
		&-navigation li a {
			box-shadow: none;
		}

		&-item {
			float: left;
			width: 100%;
			margin: 0 0 20px 0;
			position: relative;
			border: 1px solid #ddd;
			box-shadow: 0 1px 1px -1px rgba(0,0,0,0.1);
			box-sizing: border-box;

			&-image-container {
				display: block;
				overflow: hidden;
				position: relative;
				-webkit-backface-visibility: hidden;
				transition: opacity 0.2s ease-in-out;

				&::after {
					content: "";
					display: block;
					padding-top: 66.66666%;
				}
			}

			&-image {
				height: auto;
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				transition: opacity 0.2s ease-in-out;

				&--no-image {
					display: inline-block;
					width: 50%;
					text-align: center;
					position: absolute;
					top: 45%;
					right: 25%;
					left: 25%;
				}
			}

			&-footer {
				height: 30px;
				margin: 0;
				padding: 10px;
				box-shadow: inset 0 1px 0 rgba(0,0,0,0.1);
				background: #ffffff;
				background: rgba(255,255,255,0.65);

				&--with-preview h4.ocdi__gl-item-title {
					width: calc(100% - 140px);
				}
			}

			&-title {
				width: 70%;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
				display: inline-block;
				margin: 6px 0 0 0;
			}

			&-button {
				float: right;

				& + & {
					margin-right: 5px;
				}
			}

			@media (max-width: 782px) {
				h4.ocdi__gl-item-title,
				&-footer--with-preview h4.ocdi__gl-item-title {
					width: 100%;
					margin-bottom: 10px;
				}

				&-button {
					width: calc(50% - 10px);
					margin-bottom: 10px;

					& + & {
						float: left;
					}
				}

				&-footer {
					height: 72px;
				}
			}
		}

		&-header {
			display: inline-block;
			width: calc(100% - 40px);
			background-color: #ffffff;
			margin-bottom: 20px;
			padding: 0 20px;
		}

		&-navigation {
			font-size: 13px;
			width: 100%;
			float: left;

			ul {
				list-style-type: none;
				margin: 0;
				padding: 0;
				overflow: hidden;
			}

			li {
				float: left;
				margin: 0 15px;

				&.active a,
				&.active a:hover {
					border-bottom: 4px solid #666666;
				}

				a {
					display: block;
					text-align: center;
					text-decoration: none;
					color: #444444;
					border-bottom: 4px solid #ffffff;
					padding: 15px 0;

					&:hover {
						color: #00a0d2;
						border-bottom: 4px solid #ffffff;
						cursor:pointer;
					}
				}
			}
		}

		&-search-input {
			width: 100%;
			margin: 10px 0;
		}

		@media (min-width: 640px) {
			&-navigation {
				width: calc(100% - 180px);

				li {
					margin: 0;

					a {
						padding: 15px;
					}
				}
			}

			&-search-input {
				display: inline-block;
				width: 180px;
				height: 30px;
				margin: 0;
				margin-top: 11px;
			}

			&-item-container {
				margin-right: -20px;
			}

			&-item {
				width: calc(50% - 20px);
				margin: 0 20px 20px 0;
			}
		}

		@media (min-width: 1120px) {
			&-item-container {
				margin-right: -30px;
			}

			&-item {
				width: calc(33.333% - 30px);
				margin: 0 30px 30px 0;
			}
		}
	}
}

// Grid animations.
@keyframes ocdi-fade {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}

.ocdi-is-fadeout {
	animation: ocdi-fade linear 200ms 1 forwards;
}

.ocdi-is-fadein {
	animation: ocdi-fade linear 200ms 1 reverse forwards;
}

// Grid layout modal window.
.ocdi__modal {
	&-image-container {
		width: 100%;
		height: 180px;
		margin: 0;
		overflow: hidden;

		img {
			width: 100%;
		}
	}

	&-item-title {
		margin-top: 0.5em;
		font-weight: bold;
	}

	&-notice.ocdi__demo-import-notice:not(:empty) {
		border: 1px solid #e5e5e5;
		border-left: 4px solid #00a0d2;
		margin: 1em 0 0;
	}
}

// Redux.
.ocdi__redux-option-name-label {
	margin-right: 5px;
}
